name: Publish crate

on:
    pull_request:
        types:
            - closed
        branches:
            - main

jobs:
    publish:
        name: Publish to crates.io
        runs-on: ubuntu-latest
        if: |
            github.repository == 'PostHog/posthog-rs' &&
            github.event.pull_request.merged == true &&
            contains(github.event.pull_request.labels.*.name, 'publish')
        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: main
                  fetch-depth: 0

            - name: Install rust
              uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e
              with:
                  toolchain: stable

            - name: Publish to crates.io
              run: cargo publish
